@keyframes slide {
    from {
      transform: translateX(80px);
    }
    to {
      transform: translateX(-80%);
    }
  }
  
  .logos {
    overflow: hidden;
    background: white;
    white-space: nowrap;
    position: relative;

  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  /* .logos:hover .logos-slide {
    animation-play-state: paused;
  } */
  
  .logos-slide {
    display: inline-flex;
    animation: 15s slide infinite linear;
  }
  
  .logos-slide img {
    margin: 0 30px;
  }